{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Oppa API",
    "description": "This is the documentation of the Oppa API REST.",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "schemes": [
    "https"
  ],
  "host": "oppa.proyectosfit.cl",
  "basePath": "/api",
  "tags": [
    {
      "name": "authentication",
      "description": "Operation about authentication"
    },
    {
      "name": "users",
      "description": "Operation about users"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "Log user into the system",
        "description": "Gives access to the application.",
        "parameters": [
          {
            "name": "email",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User login successfully",
            "schema": {
              "type": "array",
              "items": {
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "Gets all users",
        "description": "Returns a list containing all users.",
        "responses": {
          "200": {
            "description": "A list of users",
            "schema": {
              "type": "array",
              "items": {
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}